{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
	<div class="bg-light p-3">
		<h1>Votre panier</h1>
	</div>

	{% if items | length > 0 %}
		<table class="table">
			<thead>
				<tr>
					<th>Produit</th>
					<th>Prix UT</th>
					<th>Quantité</th>
					<th>Total</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td>{{ item.product.name }}</td>
						<td>{{ item.product.price| format_currency('EUR') }}</td>
						<td>
							{% if item.quantity > 1 %}
								<a href="{{ path('cartLess', {id: item.product.id}) }}" class="btn btn -danger btn-sm">
									<i class="fas fa-minus"></i>
								</a>
							{% endif %}
							{{ item.quantity }}
							<a href="{{ path('cartAdd', {id: item.product.id}) }}" class="btn btn -danger btn-sm">
								<i class="fas fa-plus"></i>
							</a>
						</td>
						<td>{{ (item.product.price * item.quantity)| format_currency('EUR') }}</td>
						<td>
							<a href="{{ path('cartRemove', {id: item.product.id}) }}" class="btn btn -danger btn-sm">
								<i class="fas fa-trash"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3" class="text-right">Total :</td>
					<td>{{ total| format_currency('EUR') }}</td>
					<td></td>
				</tr>
			</tfoot>
		</table>
	{% else %}

		<p>
			c'est vide !
		</p>
	{% endif %}

	<a type="button" href="{{ path('product')}}" class="btn shadow btn-colorPrimary  ">Continuer mes achats</a>


{% endblock %}
